h1 {
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: #03376E;
    margin-top: 10%;
}

body {
    background-color: #FFFFFF;
}

p {
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #03376E;
}

.navbar {
    background-color: #73b4ffb1;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    height: 40px;
}

.navbar:hover {
    transform: scale(1.05);
}

.navbar a {
    color: #ffffff;
    text-align: center;
    padding: 8px 10px;
    font-size: 20px;
    text-decoration: none;
    vertical-align: baseline;
    border-radius: 10px;
}

.navbar a:hover {
    background-color: #389fffb1;
    transform: scale(1.1);
}

.navbar p {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    vertical-align: baseline;
    border-radius: 10px;
    padding-bottom: 40%;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}